SECRET_KEY=replace-with-a-long-random-secret
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=

# Para MySQL en AWS, usar por ejemplo:
# DEBUG=False
# ALLOWED_HOSTS=IP_PUBLICA_EC2
# DB_ENGINE=django.db.backends.mysql
# DB_NAME=nombre_base
# DB_USER=usuario_db
# DB_PASSWORD=clave_db
# DB_HOST=localhost
# DB_PORT=3306
